__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.env
.venv

.ipynb_checkpoints
*/.ipynb_checkpoints/*

.vscode/
*.code-workspace
.history/

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

*.pkl
*.h5
*.model

.DS_Store
Thumbs.db

*.log